* {
  box-sizing: border-box;
  font-family: "Crimson Pro", serif;
  font-size: 25px;
}
body {
  background-color: #0b0c10;
}
h1 {
  text-align: center;
  color: #08b3a7;
  font-size: 2rem;
}
.container {
  max-width: 950px;
  margin: auto;
  height: 60vh;
  overflow-y: auto;
  border-radius: 10px;
  background-color: #36373b;
  text-align: center;
}
form {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
input {
  width: 50%;
  padding: 7px;
  border-radius: 20px;
  outline: none;
  margin-right: 5px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
}
button {
  background-color: #137974;
  width: 50px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
}
#join-btn:hover {
  background-color: #08b3a7;
  color: azure;
}
#send-btn {
  border-radius: 50%;
}
button > * {
  pointer-events: none;
}
::placeholder {
  padding-left: 5px;
}
.hidden {
  display: none;
}
ul {
  height: fit-content;
  display: grid;
  place-items: center;
}
.welcome-msg {
  list-style: none;
  color: #66e2da;
}
.message-entry {
  float: left;
  clear: both;
  width: fit-content;
  max-width: 20%;
  max-height: fit-content;
  overflow: hidden;
  background-color: #08b3a7;
  color: white;
  margin: 5px;
  border-radius: 10px;
  padding: 5px;
}
.message-entry-own {
  float: right;
  clear: both;
  width: fit-content;
  max-width: 20%;
  max-height: fit-content;
  overflow: hidden;
  background-color: #137974;
  color: white;
  margin: 5px;
  border-radius: 10px;
  padding: 5px;
}
.message-body {
  padding: 5px;
}

.feedback {
  width: fit-content;
  height: 30px;
  margin-bottom: 5px;
  margin-left: 280px;
  margin-top: 15px;
  color: #137974;
  font-size: 20px;
  font-style: italic;
}
.user-name {
  color: #66e2da;
  font-weight: bold;
  font-size: larger;
}
.join-text {
  display: block;
  font-size: 2.5rem;
  color: #66e2da;
  margin-top: 140px;
}
